exportPattern("^[[:alpha:]]+")
  importFrom("graphics", "lines", "par", "plot")
  importFrom("stats", "HoltWinters")
  importFrom("utils", "install.packages")
  importFrom("fracdiff","fracdiff")
  importFrom("forecast","auto.arima")
  importFrom("forecast","forecast")
  importFrom("forecast","nnetar")
  importFrom("grDevices", "graphics.off")
  import(fracdiff,forecast, robets)
  importFrom("forecastHybrid", "thetam")
